.aboutdetails {
  display: block;
  padding: 1rem;
    grid-template-columns: 350px 1fr;
  gap: 1rem;
  max-width: 90%;
  margin: 0 auto;
  margin: ;
 
}
.detailsholder{
  display: grid;
  grid-template-columns: 350px 1fr;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;padding: 1rem;
  grid-template-columns: 350px 1fr;
  max-width: 99%;
  margin: 50px auto;
  border-radius: 20px 20px 40px 40px;
 
}
.aboutwords h3:hover{
  transition: all 0.84s ease-in-out;
}


.aboutdetails img {
  max-width: 100%;
  height: auto;
  opacity: 0.7;
}
 .aboutwords h3{
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-family: gaegu,cursive;
  }

.yhhsdescription:hover{

background-color: powderblue;
transition: all .5s ease-in-out;
  
}

.yhhsdescription{
  margin: 30px;
padding: 0.5%;
}

.yhhsdescription p{
  margin: 0;
  padding: 0;
  font-family: serif;,cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
}

.yhhsdescription:hover{
  transform: scale(1.02);
  transition: all 0.6s ease-in-out;
   text-align: justify;
  text-align: center;

}
.yhhsdescription h2{
  text-align: center;
    font-weight: 500;
}
/**/


/*small screens 768 max*/


@media (max-width: 768px) {

  body{
       font-size: inherit;

  }
  .aboutdetails {
    display: block;
    font-size: 80%;
  }
   .aboutwords h3{
    font-size: inherit;
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      font-family: gaegu,cursive;

  }
.aboutwords  {
    position: relative;
    margin: -6.5rem 4px 0 4px;
   padding:5%;
   background: rgba(255, 255,  255, 0.8);
  
  }
.aboutwords p {
   text-align: justify;

}
.aboutdetails img {
 
  border-radius: 40px 40px 0 0;
}

.detailsholder{
  display: block;
  padding: 20px;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 15px;
    } 

    .yhhsdescription{
      padding: 5%;
      font-size: inherit;
      background: rgba(160, 220, 240, 0.2);
    }
}
