.state{
  display: grid;
  grid-template-columns: 50px repeat(2, 1fr)60px repeat(2, 1fr) 60px;

padding: 6% 0 5% 0  ;
}
.vis{
  grid-row: 1/3;
  grid-column: 2/5;
  background-color: #fff;
  color: #ff6602;
  height: 50px;
  width: 50%;
  text-align: center;
  padding-top: 1%;
  margin: 15%;
  z-index: 1;
  margin: 3% 0 0 30%;
  position: relative;
  border-radius: 80px;
  border: 1px solid black;

}
.vis h2:hover{
  color: #fff;
  transition: all .4s ease-in-ou;

}
.vis:hover{
    background-color: #ff6602;
      opacity: 0.7;
}
.vis h2{
  font-size: 25px;
  font-weight: 700;
  color: #ff6602;
  text-transform: uppercase;
}

.vision{
grid-row: 2/4;
  grid-column: 2/5;
  border: 4px black;
  text-align: justify;
  text-justify: inter-word;
  margin: 37px 0 0 0;
  padding: 10% 7% 3% 7%;
  position: relative;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
  transition: all .3s ease-in-out;
}
.vision:hover{

  border: 2px solid #eee;
  text-align: center;
  transform: scale(1.1);
   text-align: justify;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.mission{
grid-row: 5/8;
  grid-column: 4/7;
  text-align: justify;
  padding: 10% 2% 5% 2%;
  position: relative;
  text-align: center;
  font-weight: 500;
  border-radius: 20px;
  transition: all .3s ease-in-out;
  
}
.mission:hover{

  border: 2px solid #eee;
  text-align: center;
  transform: scale(1.05);
  text-justify: inter-word;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   }

.mis{
  grid-row: 4/6;
  grid-column: 4/6;
  background-color: #fff;
  width: 80%;
  height: 50px;
  text-align: center;
  padding-top: 4%;
  z-index: 1;
  margin: 0 0 0 55%;
  position: ;
  border-radius: 80px;
  border: 1px solid black;

}
.mis h2:hover{
  color: #fff;
  transition: all .4s ease-in-ou;
}

.mis h2{
  font-size: 25px;
  font-weight: 700;
  color: #FF0000;
  text-transform: uppercase;
}
.mis:hover{
  background-color: #FF0000;
  opacity: .7;
}
.goals{
grid-row: 8;  
  grid-column: 2/7;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 2% 4% 2%;
  position: relative;
  font-weight: 500;
    margin-top: 8%;
  border-radius: 20px;
  transition: all .3s ease-in-out;
  width: 100%;
}
.goals:hover{

  border: 2px solid #eee;
  text-align: center;
  transform: scale(1.03);
   text-align: justify;
  text-justify: inter-word;
  text-align: center;
  background-color: #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   }

.goals h2{
  display: none;
}
.goalz{
  grid-row: 8;
  grid-column:3/6 ;
  background-color: #fff;
  width: 60%;
  height: 50px;
  text-align: center;
  z-index: 1;
  margin: 10% 0 0 22%;
  padding-top: 1.5%;
  position: relative;
  border-radius: 80px;
  border: 1px solid black;
}

.goalz h2:hover{
  color: #fff;
  background-color: #86B049;
  transition: all .4s ease-in-out;
  border-radius: 55%;
  height: 100%;


}
.goalz:hover{
    background-color: #86B049;
      opacity: 0.7;
}
.goalz h2 {
  font-size: 25px;
  font-weight: 700;
  color: #86B049;
  text-transform: uppercase;
}


@media (max-width:769px) {
  
  .mis h2{
  font-size: 18px;
 
}
.goalz{
  

  margin: 12% 0 0 22%;

}


.mis{

  width: 70%;
  padding: 8% 0 0 0;
  font-weight: 600;
}

 .mission{
  grid-column: 4/8;
padding: 10% 2% 2% 2%;
font-weight: 400;
margin: none;
}


.vision{
grid-column: 1/5;
font-weight: 400;
}
.vis{
  width: 70%;
  padding: 1%;
  margin: 5% 2% 2% 5%;
}
.vis h2{
  font-size:  20px;
  padding: 3% 0 0 0;
}
.goals{
  grid-column: 1/8;
  padding: 9% 3% 2% 3%;
  font-weight: 400;
}
.goalz h2{
  font-size: 20px;
  padding-top: 5%;
}
.goalz{
  padding-top: 0;
}

}

@media (max-width: 426px){

  .state{
    grid-template-columns: 1fr;
  }
  .vis{
  grid-column: 1/2;
  width: 30%;
  margin-left: 110px;
    padding-top: .7%;
    margin-top: 15%;

}



  .vision{
  grid-column: 1/2;
  margin-bottom: 10%;

}

.mis{
  grid-column: 1/2;
  width: 30%;
  padding-top: 3.5%;
   margin-left: 110px;
  
}

.mission{
  grid-column: 1/2;
  margin-bottom: 8%;
  
}
.mission p{
  margin: auto 5% 0 5%;
   text-align: justify;

}

.goals{
  grid-column: 1/2;
}
.goals p{
 margin: 10% 5% 0 5%;
   text-align: justify;
}
.goalz{
  grid-column: 1/2;
  width: 30%;
   margin:20px 0 0 110px;
   padding-top: 1.8%;
}
}



/*footer*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}
.h3:hover{
color: #fff;
}
.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}
.facebook:hover{
  background-color: #1369ce;
}
.whatsapp:hover{
  background-color: #1369ce;
  border-color: #1369ce;
}
.instagram:hover{
  background-color: #1369ce;
  border-color: #1369ce;
}
.linkedin:hover{
  background-color: #1369ce;
  border-color: #1369ce;
}
.footer-dark ul a:hover {
  opacity:1.2;

}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
  }

.footer-dark .item.text {
  margin-bottom:36px;
}
.footer{
  width: 100%;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;

}
.socials .item.social > a{
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;

}
.face:hover{
  background-color: #1369ce;
}

.whats:hover{
  background-color: #25D366;
  border-color: #25D366;
}
.inst:hover{
  background-color: #E1306C;
  border-color: #E1306C;
}
.link:hover{
  background-color:#0e76a8; 
}

.footer-dark ul a:hover {
  opacity:1.2;

}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}hr{ 
  grid-area: hr;
  grid-column: 6/6;
  grid-row:4/8;
  margin:30px 15px 0 15px;
    border:         none;
    border-left:    1px solid #79ccab;
    height:         80%;
    width:          10px;       
}
#teaminfo{
  width: 100%;
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  font-family: sans-serif;
}
              
  

.content {
  padding: 2% 2% 2% 2%;
  background: rgb(123 199 160 / 14%);
}

.owl-1 .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%; }
  @media (max-width: 991.98px) {
    .owl-1 .owl-nav {
      display: none; } }
  .owl-1 .owl-nav .owl-next,
  .owl-1 .owl-nav .owl-prev {
    border: 1px solid none;
    z-index: 92;
    position: absolute;
    top: 50%;
    opacity: .5;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-next:focus,
    .owl-1 .owl-nav .owl-prev:active,
    .owl-1 .owl-nav .owl-prev:focus {
      outline: none; }
    .owl-1 .owl-nav .owl-next:hover,
    .owl-1 .owl-nav .owl-prev:hover {
      opacity: 1; }
    .owl-1 .owl-nav .owl-next span,
    .owl-1 .owl-nav .owl-prev span {
      color: #fff; }
      .owl-1 .owl-nav .owl-next span:before,
      .owl-1 .owl-nav .owl-prev span:before {
        font-size: 40px !important; }
  .owl-1 .owl-nav .owl-next {
    border: 4px solid none;
    right: 20px; }
  .owl-1 .owl-nav .owl-prev {
    left: 20px; }



blockquote.testimony-1 {
  margin: 0 auto;
  height: 100vh;
   padding: 10% 4% 1% 4%;


}
blockquote.testimony-2 {
  margin: 0 auto;
  height: 100vh;
  align-content: center;
  align-items: center;
  padding: 20% 4% 1% 4%;

}
blockquote.testimony-3 {
  margin: 0 auto;
  height: 100vh;
  padding: 20% 4% 1% 4%;

}

  blockquote.testimony-1 p {
    font-size: 28px;
    color: #fff;
    line-height: 1.5;
    font-family: "Arbutus Slab", serif; 
    padding: 4%;
    text-align: center;


  }
   blockquote.testimony-2 p {
    font-size: 28px;
    color: #fff;
    line-height: 1.5;
    font-family: "Arbutus Slab", serif; 
    padding: 4%;
    text-align: center;


  }
   blockquote.testimony-3 p {
    font-size: 28px;
    color: #fff;
    line-height: 1.5;
    font-family: "Arbutus Slab", serif; 
    padding: 4%;
    text-align: center;


  }
   @media (max-width: 425px){
  .s-story{
  font-size: 24px;
}}

 @media (max-width: 796px){
  

blockquote.testimony-1 {
  max-width: 799px;
  margin: 0 auto;
  height: 100vh;
   padding: 10% 4% 1% 4%;


}
blockquote.testimony-2 {
  max-width: 799px;
  margin: 0 auto;
  height: 100vh;
  align-content: center;
  align-items: center;
  padding: 20% 4% 1% 4%;

}
blockquote.testimony-3 {
  max-width: 799px;
  margin: 0 auto;
  height: 100vh;
  padding: 20% 4% 1% 4%;

}

  blockquote.testimony-1 p {
    font-size: 21px;
    color: #fff;
    line-height: 1.5;
    font-family: "Arbutus Slab", serif; 
    padding: 4%;
    text-align: center;


  }
   blockquote.testimony-2 p {
    font-size: 21px;
    color: #fff;
    line-height: 1.5;
    font-family: "Arbutus Slab", serif; 
    padding: 4%;
    text-align: center;


  }
   blockquote.testimony-3 p {
    font-size: 21px;
    color: #fff;
    line-height: 1.5;
    font-family: "Arbutus Slab", serif; 
    padding: 4%;
    text-align: center;


  }
.s-story{
  font-size: 24px;
}

}

  @media (max-width: 426px){
  

blockquote.testimony-1 {
      
   padding: 10% 4% 1% 4%;


}
blockquote.testimony-2 {

  padding: 20% 4% 1% 4%;

}
blockquote.testimony-3 {
  
  padding: 20% 4% 1% 4%;

}

  blockquote.testimony-1 p {
    font-size: 16px;
    padding: 0;
    text-align: justify;
  }
   blockquote.testimony-2 p {
    font-size: 18px;
    padding: 0;
    text-align: justify;
  


  }
   blockquote.testimony-3 p {
    font-size: 18px;
    padding: 0;
    text-align: justify;
  


  }

}

.s-story{
  margin: 1% 0 2% 0;
text-align: center;
font-weight: 600;
font-size: 60px;
font-family: gaegu, cursive;
background: rgb(123 199 160 / 0);
}

.bg-img{
  background-size: cover;
  background-color: #ccc;
  padding: 0;
  margin: 1px;
  position: relative; }
  @media (max-width: 991.98px) {
    .s-story{
      font-size: 45px;}
    .bg-img {
      background-position: center center !important; } 
    }
  .bg-img:before {
    background: #000;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    z-index: 0; }
  .block-30.no-overlay:before {
    display: none; }
  


.col-md-12 .two{
  max-width: 50%;
  height: 100vh;
}
.projects{
	position: relative;
	width: 100%;
	height: 100vh;
	background: blue;
}
.funding{
	position: relative;
	width:1px;
    word-wrap: break-word;
    font-family: monospace; 

}
.p_container{
	position: relative;
	width: 100%;
	height: 120vh;
  margin:50px 0 100px 0;


}
.p_border{
	position: absolute;
	top: 1%;
  left: 2%;
	width: 97%;
	height: 95%;
	background: none;
	border-radius: 80px ;
  border: 3px solid rgb(219, 216, 216);
  text-align: center;
   text-align: justify;
  text-align: center;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.p_title{
	position: absolute;
	width: 50%;
	height: 50px ;
	background: lavenderblush;
	border-radius: 80px;
	top: -3%;
left:24% ;
	border: 1px solid black ;	
}
.p_title p{
	position: absolute;
	font-family: gaegu, cursive;
	font-weight: 700;
	font-size: 50px;
	left: 12%;
	top: -40%;

}
.p_funding{
	position: absolute;
	width: 50px;
	height: 350px;
	background: rgb(191 242 253);
	border-radius: 80px;
	top: 23%;
	left: -2%;
	padding: auto;
	border: 1px solid black ;
  z-index: 2;



}
.p_funding p{
	width:1px;
    word-wrap: break-word;
    font-family: gaegu, cursive; 
    font-size: 20px;
    font-weight: bold;
    padding: 28% 0 0 40%;
    text-transform: capitalize;
    margin: 0;
}


#p_vl {
  border-left: 4px solid #7bc7a0 ;
  height: 400px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 29%;
  z-index: 2;
}
.p_fund_img img{
	position: absolute;
	width: 150px;
	height: auto;
	top: 32%;
	left: 4%;
}
.p_fund_img img:nth-child(2){
	position: absolute;
	width: 150px;
	height: auto;
	top: 50%;
	left: 5%;
  z-index: 1;

}
.p_fund_img img:nth-child(3){
	position: absolute;
	width: 150px;
	height: auto;
	top: 70%;
	left: 4%;
  z-index: 1;

}
.obj_title p{
	position: absolute;
	top: 8%;
	left: 45%;
	font-size: 50px;
	font-family: gaegu, cursive;
	font-weight: 800;
}
.p_details p{
  padding: 10px;
  margin: 5px;
}

.p_details{
	position: relative;
  width: 79%;
	left: 280px;
	top: 150px;
	font-family: poppins, cursive;
	font-size: 16px;
	line-height: 28px;
  height: auto;
  line-height: 24px;
  text-align: justify;
  text-align: center;
  
}
.Community_care{
  width: 60%;
  left: 20%;
}
.community_details{
  position: relative;
  top: 30%;
}

.undp{
	position: absolute;
  height: 85px;
  width: 80%;
	background: lavenderblush;
	border-radius: 80px;
	top: -3%;
left:10% ;
	border: 1px solid black ;	
}
.undp p{
	position: absolute;
	font-family: gaegu, cursive;
	font-weight: 700;
	font-size: 35px;
	left: 12%;
	top: 1%;
  line-height: 40px;


}
.upnd_obj{
  position:absolute;
  top: 12%;
  left: 45%;
}
.upnd_details{
  position: relative;
  top: 29%;
  line-height: 30px;

}

.srhr{
  position: absolute;
  height: 50px;
  width: 70%;
	background: lavenderblush;
	border-radius: 80px;
	top: -3%;
  left:15% ;

}
.srhr p{
  position: absolute;
  left: 15%;
}
.srhr_titles h2{
  font-family: gaegu, cursive;
  font-weight: 700;
  font-size: 40px;
}
.srhr_details{
  position: relative;
  width: 93%;
	left: 80px;
	top: 90px;
	font-family: poppins, cursive;
	font-size: 16px;
  padding: 10px;
  line-height: 25px;

}
.together{
  position: absolute;
  height: 50px;
  width: 70%;
	background: lavenderblush;
	border-radius: 80px;
	top: -3%;
left:15% ;
	border: 1px solid black ;	
}
.together p{
	position: absolute;
	font-family: gaegu, cursive;
	font-weight: 700;
	font-size: 40px;
	left: 3%;
	top: -25%;


}


/*------------------------------------------about page------------------------------------------------------------*/
.about_pages{
  margin: .5%;
  padding: 5%;
  font-family: poppins;
}

.hiv_awareness{
  border-radius:80px 80px 30px 30px;
height: 60vh;
  margin: 8px 0 10% 0;
  /*border: 1px solid grey;*/
  background-color: rgb(183 ,234, 234, .1);



}
.hiv_awareness_title{
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #f2d0db;
  border-radius: 80px 80px 0 0;
}

.awareness_details{
  padding: 20px;
  justify-content: center;
}

.hiv_awareness_title img{
    position: absolute;
    left: 50px;
    top: 20px;
}
.hiv_awareness_title p{
  position: absolute;
  left: 100px;
  top: 12px;
  font-size: 35px;
  font-family: gaegu;
}



.care{
  border-radius:80px 80px 30px 30px;
  margin: 8px 0 10% 0;
  /*border: 1px solid grey;*/
  background-color: rgb(183 ,234, 234, .1);


}
.care_title{
  position: relative;
  top: 0;
  width: 100%;
  height: 85px;
  background-color: #89fcc0;
  border-radius: 80px 80px 0 0;
}

.care_details{
  padding: 20px;
  justify-content: center;
  line-height: 35px;
}

.care_title img{
    position: absolute;
    left: 50px;
    top: 20px;
}
.care_title p{
  position: absolute;
  left: 100px;
  top: 12px;
  font-size: 35px;
  font-family: gaegu;
}




.provision{
  border-radius:80px 80px 30px 30px;
height: 80vh;
  margin: 8px 0 10% 0;
  /*border: 1px solid grey;*/
  background-color: rgb(183 ,234, 234, .1);



}
.provision_title{
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: green;
  border-radius: 80px 80px 0 0;
}

.provision_details{
  padding: 10px 0 0 0;
  justify-content: center;
}

.provision_title img{
    position: absolute;
    left: 50px;
    top: 20px;
}
.provision_title p{
  position: absolute;
  left: 100px;
  top: 12px;
  font-size: 35px;
  font-family: gaegu;
}





.community{
  border-radius:80px 80px 30px 30px;
  margin: 8px 0 10% 0;
  /*border: 1px solid grey;*/
  background-color: rgb(183 ,234, 234, .1);
  padding-bottom: 10%;


}
.community_title{
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: lightskyblue;
  border-radius: 80px 80px 0 0;
}

.community_details{
  padding: 10px 0 0 0;
  justify-content: center;
  margin-bottom: 20px;
  line-height: 38px;

}

.community_title img{
    position: absolute;
    left: 50px;
    top: 20px;
    line-height: 30px;
}
.community_title p{
  position: absolute;
  left: 100px;
  top: 12px;
  font-size: 35px;
  font-family: gaegu;
}
.saas{
  position: relative;
  left: 40px;
  font-size: 30px;
  font-family: gaegu;
  text-decoration: underline;
  margin: 2%;
}

@media (max-width:769px) {
/*------------------------------------------about page------------------------------------------------------------*/
.about_pages{
  margin: 0;
  padding: 10px;

}
  .hiv_awareness{
    border-radius:80px 80px 30px 30px;
    margin: 8px 0 10% 0;
    /*border: 1px solid grey;*/
    background-color: rgb(183 ,234, 234, .1);
  
  
  
  }
 
  
  
  .hiv_awareness_title p{
    position: absolute;
    left: 100px;
    top: 18px;
    font-size: 30px;
    font-family: gaegu;
    line-height: 30px;
    justify-content: start;
  }
  
  
  
  
}


@media (max-width:410px) {
  .about_pages{
    margin: 0;
    padding: 10px;
    font-family: poppins;
    font-size: 14px;

  }
  
  .hiv_awareness{
    border-radius:80px 80px 30px 30px;
    height: auto;
    margin: 0 0 20PX 0;
    padding: 0;
    background-color: rgb(183 ,234, 234, .1);
  
  
  
  }
  .hiv_awareness_title{
    position: relative;
    top: 0;
    height: 120px;
  }
  
  .awareness_details{
    padding: 10PX;
    justify-content: center;
  }
  
  .hiv_awareness_title img{
   display: none;
  }
  .hiv_awareness_title p{
    position: absolute;
    left: 35px;
    top: 24px;
    font-size: 25px;
    font-family: gaegu;
  }
  
  
  
  .care{
    border-radius:80px 80px 30px 30px;
    margin: 8px 0 10% 0;
    /*border: 1px solid grey;*/
    background-color: rgb(183 ,234, 234, .1);
  
  
  }
  .care_title{
    position: relative;
    top: 0;
    width: 100%;
    height: 85px;

  }
  
  .care_details{
    padding: 10px 5px;
    justify-content: center;
    line-height: 25px;
  }
  .care_details ol{
    padding: 5px 5px 10px 15px;
  }
  
  .care_title img{
     display:none;
  }
  .care_title p{
    position: absolute;
    left: 25px;
    top: 18px;
    font-size: 35px;
    font-family: gaegu;
    line-height: 25px;
  }
  
  
  
  
  .provision{
    border-radius:80px 80px 30px 30px;
  height: 80vh;
    margin: 8px 0 10% 0;
    /*border: 1px solid grey;*/
    background-color: rgb(183 ,234, 234, .1);
  
  
  
  }
  .provision_title{

    top: 0;
    height: 80px;
    background-color: green;
    border-radius: 80px 80px 0 0;
  }
  
  .provision_details{
    padding: 10px 0 0 0;
    justify-content: center;
  }
  
  .provision_title img{
      display: none;
  }
  .provision_title p{
    position: absolute;
    left: 80px;
    top: 18px;
    font-size: 30px;
    line-height: 30px;
  }
  
  
  
  
  
  .community{
    border-radius:80px 80px 30px 30px;
    margin: 8px 0 10% 0;
    /*border: 1px solid grey;*/
    background-color: rgb(183 ,234, 234, .1);
    padding-bottom: 10%;
  
  
  }
  .community_title{
    position: relative;
    top: 0;
    height: 80px;
 
  }
  
  .community_details{
    padding: 10px 0 0 0;
    justify-content: center;
    margin-bottom: 20px;
    line-height: 38px;
    font-size: 14px;
  
  }
  
  .community_title img{
      display:none;
  }
  .community_title p{
    position: absolute;
    left: 20px;
    top: 18px;
    font-size: 30px;
    font-family: gaegu;
    line-height: 30px;
  }
  .saas{
    position: relative;
    left: 10px;
    font-size: 24px;
    font-family: gaegu;
    line-height: 25px;
  }









}
    
    
    